<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">新規登録</h2>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="login-container">
    <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', local: true do |f| %>

    <p type="text" placeholder="text"><%= f.text_field :last_name, autofocus: true, :placeholder => "令和", required: true %></p>
    <p type="text" placeholder="text"><%= f.text_field :first_name, autofocus: true, :placeholder => "道子", required: true  %></p>
    <p type="text" placeholder="text"><%= f.text_field :kana_last_name, autofocus: true, :placeholder => "レイワ", required: true %></p>
    <p type="text" placeholder="text"><%= f.text_field :kana_first_name, autofocus: true, :placeholder => "ミチコ", required: true %></p>

    <p type="email" placeholder="Email"><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス" %></p>
    <p type="password" placeholder="Password"><%= f.password_field :password, autocomplete: "new-password", :placeholder => "パスワード(6文字以上)", required: true %></p>
    <p type="password" placeholder="Password"><%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード(確認用)", required: true %></p>
    <p type="submit" value="Log in"><%= f.submit "新規登録" %></p>
    <% end %>

    <h4 class="text-center"><span class="text-dark">　既に登録済みの方　</span></h4>
    <P class="text-center text-dark"><%= link_to "こちら", new_customer_session_path %> からログインしてください。</P>


  </div>
</div>
