<div class="container">
  <div class="row">

      <!--サイト左側には店舗写真-->
      <div class="col-md-7">
        <%= attachment_image_tag @shop, :image, :fill, 600, 500, format: 'jpeg', fallback: "no_image.jpg", size:'600x500' %>
      </div>

      <!--サイト右側には店舗紹介文-->
      <div class="col-md-5">
        <table class="table" style="table-layout:fixed;width:100%;">
          <thead>
            <tr>
              <th><p>店舗名</p></th>
              <th><p class="text-center"><h2><%= @shop.name %></h2></p></th>
            </tr>

            <tr>
              <th><p>店舗紹介</p></th>
              <th><p class="text-center"><%= @shop.introduction %></p></th>
            </tr>

            <tr>
              <th><p>エリア</p></th>
              <th><p class="text-center"><%= @shop.area.name %></p></th>
            </tr>

            <tr>
              <th><p>住所</p></th>
              <th><p class="text-center"><%= @shop.post_code %><br><%= @shop.address %></p></th>
            </tr>

            <tr>
              <th><p>連絡先</p></th>
              <th><p class="text-center"><%= @shop.telephone_number %><br><%= @shop.email %></p></th>
            </tr>

          </thead>
        </table>
        <% if @shop.customer_id == current_customer.id %>
　　      <%= link_to "編集する", edit_shop_path(@shop), class: "btn btn-success btn-sm" %>
　　      <%= link_to "商品を登録する", new_item_path, class: "btn btn-primary btn-sm" %>
　　    <% else %>
　　    <% end %>
　　  </div>
  </div>

　<!--メニュー表示部分-->
　<div class="row">
    <!--メインー-->
    <div class="item-menu">
      <h3 class="item-menu-title">メインメニュー</h3>
      <%= render 'index', items: @items_main %>
    </div>
    <!--サイドー-->
    <div class="item-menu">
      <h3 class="item-menu-title">サイドメニュー</h3>
      <%= render 'index', items: @items_side %>
    </div>
    <!--ドリンク-->
    <div class="item-menu">
      <h3 class="item-menu-title">ドリンクメニュー</h3>
      <%= render 'index', items: @items_drink %>
    </div>
  </div>
  <!--メニュー表示部分ここまで-->

</div>
