<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-col-lg-4 mx-auto my-4">

      <!--main部分-->
      <section id="main-logo">
        <div class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#example-3" data-slide-to="0" class="active"></li>
            <li data-target="#example-3" data-slide-to="1"></li>
            <li data-target="#example-3" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag('top-food-1.jpg') %>
            </div>
            <div class="carousel-item">
              <%= image_tag('top-food-2.jpg') %>
            </div>
            <div class="carousel-item">
              <%= image_tag('top-food-3.jpg') %>
            </div>
          </div>
        </div>
      </section>

      <!--main-shop部分-->
      <section id="main-guide">
        <div class="guide-title">
          <h2>いますぐ注文しよう</h2><br >
    			<h4>葛飾にある<i><%= @shops.count %></i>軒のお店の商品をテイクアウトできます</h4>
        </div>

        <!--main-box部分-->
  			<div class="row guide-box">
  			  <!--box1-->
  				<div class="col-lg-4 text-center aa">
  					<div class="work-grid box1">
  						<div class="desc">
  							<h3><%= link_to "まずは会員登録！", new_customer_registration_path %></h3>
  							<span class="cat">step1</span>
  						</div>
  					</div>
  				</div>
          <!--box2-->
  				<div class="col-lg-4 text-center">
  					<div class="work-grid box2">
  						<div class="desc">
  							<h3><%= link_to "エリアからお店を探そう！", areas_path %></h3>
  							<span class="cat">step2</span>
  						</div>
  					</div>
  				</div>

          <!--box3-->
  				<div class="col-lg-4 text-center">
  					<div class="work-grid box3">
  						<div class="desc">
  							<h3>気になるお店を見みよう！</h3>
  							<span class="cat">step3</span>
  						</div>
  					</div>
  				</div>

          <!--box4-->
  				<div class="col-lg-4 text-center">
  					<div class="work-grid box4">
  						<div class="desc">
  							<h3>食べたい物を注文しよう！</h3>
  							<span class="cat">step4</span>
  						</div>
  					</div>
  				</div>

          <!--box5-->
  				<div class="col-lg-4 text-center">
  					<div class="work-grid box5">
  						<div class="desc">
  							<h3>お店で商品を受け取ろう！</h3>
  							<span class="cat">step5</span>
  						</div>
  					</div>
  				</div>

          <!--box6-->
  				<div class="col-lg-4 text-center">
  					<div class="work-grid box6">
  						<div class="desc">
  							<h3>熱々のうちに</h3>
  							<span class="cat">step6</span>
  						</div>
  					</div>
  			 </div>
      	</div>
    	</section>

    	<!--shop4軒程度紹介-->
    	<section class="main-shop">
    	  <div class="guide-title">
          <h2>お店を一部ご紹介</h2><br >
    			<h4>新たにお店を登録してくれた４店です！</h4>
        </div>

        <% @shop.each.with_index(1) do |shop, i| %>
        <div class="shop-box background">
            <%= attachment_image_tag shop,  :image, :fill, 500, 400, fallback: "no_image.jpg", size:'500x400' %>
          <p><%= shop.name %></p>
          <p><%= shop.area.name %></p>
        </div>
        <% end %>
    	</section>

    </div>
  </div>
</div>

