<!--itemの新規登録・編集ページ用のフォーム-->

<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">商品登録・変更フォーム</h2>
  <div class="login-container">
    <%= form_with model: item, local:true do |f| %>

    <p type="text" placeholder="text">名前(25文字以内<%= f.text_field :name %></p>

    <p type="text" placeholder="text"><%= f.attachment_field :image %></p>
    <p type="text" placeholder="text">商品写真<%= attachment_image_tag item, :image,  :fill, 200, 200, fallback: "no_image.jpg", id: "img_prev", size:'200x200', class: 'rounded-circle'%></p>

    <p type="text" placeholder="text">価格(税込み)<%= f.text_field :price %></p>

    <p type="text" placeholder="text">商品紹介(50文字以内)<%= f.text_field :introduction %></p>

    <p type="text" placeholder="text"><%= f.label :genre, '商品タイプ' %></p>
    <p type="text" placeholder="text"><%= f.select :genre, {'メインメニュー': 1, 'サイドメニュー': 2, 'ドリンク':3} %></p>

    <p type="text" placeholder="text">クッキングタイム(商品を作るまでの目安時間)</p>
    <div class="cook_time">
      <%= f.radio_button :cook_time, :"5分", required: true %>
      <%= f.label :cook_time, "5分" %>
      <%= f.radio_button :cook_time, :"10分", required: true %>
      <%= f.label :cook_time, "10分" %>
      <%= f.radio_button :cook_time, :"15分", required: true %>
      <%= f.label :cook_time, "15分" %>
      <%= f.radio_button :cook_time, :"20分", required: true %>
      <%= f.label :cook_time, "20分" %>
      <%= f.radio_button :cook_time, :"25分", required: true %>
      <%= f.label :cook_time, "25分" %>
      <%= f.radio_button :cook_time, :"30分", required: true %>
      <%= f.label :cook_time, "30分" %>
    </div>

    <p type="text" placeholder="text"><%= f.label :sale_state, '販売状況' %></p>
    <p type="text" placeholder="text"><%= f.select :sale_state, {'販売中': true, '販売休止中': false} %></p>

    <p type="submit" value="Log in"><%= f.submit %></p>
    <% end %>

  </div>
</div>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#item_image").change(function(){
    readURL(this);
  });
});
</script>