<!--itemのshowページ 自分の店の商品だったら、編集・削除へのパスを表示させる-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-col-lg-4 mx-auto my-2 item-show">

      <!--item情報部分-->
      <%= attachment_image_tag @item, :image, :fill, 800, 600, fallback: "no_image.jpg", size:'800x600' %>
      <h6><%= @item.shop.name %></h6>
      <h2><%= @item.name %></h2>
      <h6>料理ができるまでの時間</h6>
      <h3><%= @item.cook_time %></h3>
      <h6><%= @item.introduction %></h6>
      <h3 class="item-show-price"><%= @item.price %>円</h3>
      <!--自分の商品の場合であれば、editへのリンクを表示させる-->
      <% if @item.shop.customer_id == current_customer.id %>
        <div class="item-show-link">
          <%= link_to "編集する", edit_item_path(@item), class: "btn btn-success btn-sm" %>
        </div>
      <% end %>
      <!--カート部分-->
      <%= form_with model: @cart_item, local:true do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <!--アイテムが販売中のみ、カートに入れることができる-->
      <% if @item.sale_state == true && @item.shop.status == true %>
        <%= f.select :amount, options_for_select((1..10).to_a), required: true %>
        <%= f.submit "カートに入れる", class: 'btn btn-success btn-sm' %>
      <% else %>
        <%= f.submit "現在カートに追加できません", class: 'btn btn-secondary btn-sm cart-false' %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>
