<div class="container m-5">
  <div class="row">
    <div class="col-2"></div>
    <h4 class="my-4"><span style="background-color:#EFEFEF">　アカウント情報　変更　</span></h4>
  </div>

  <%= render 'layouts/errors', obj: @customer %>
  <%= form_with model: @customer, local:true do |f| %>
  <%= flash[:error] %>

  <div class="row">
    <div class="col-1"></div>
      <table class="table table-borderless col-8">
        <tr>
          <th>名前</th>
          <th><%= f.label :"(姓)" %></th>
          <th><%= f.text_field :last_name %></th>
          <th><%= f.label :"(名)" %></th>
          <th><%= f.text_field :first_name %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= f.label :"(セイ)" %></th>
          <th><%= f.text_field :kana_last_name  %></th>
          <th><%= f.label :"(メイ)" %></th>
          <th><%= f.text_field :kana_first_name, autofocus: true, :placeholder => "ミチコ" %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@exaample.com" %></th>
          <th></th>
        </tr>

        <tr>
          <th></th>
          <th></th>
          <th><%= f.submit "　　変更する　　" , class:'btn btn-success' %></th>
        </tr>
        <% end %>
      </table>

    </div>
  </div>