<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">アカウント情報 変更</h2>
  <div class="login-container">
    <%= render 'layouts/errors', obj: @customer %>
    <%= form_with model: @customer, local:true do |f| %>
    <%= flash[:error] %>

    <p type="text" placeholder="text">名前:姓<%= f.text_field :last_name %></p>
    <p type="text" placeholder="text">名前:名<%= f.text_field :first_name %></p>

    <p type="text" placeholder="text">名前:セイ<%= f.text_field :kana_last_name %></p>
    <p type="text" placeholder="text">名前:メイ<%= f.text_field :kana_first_name %></p>
    <p type="text" placeholder="text">メールアドレス<%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@exaample.com" %></p>

    <p type="submit" value="Log in"><%= f.submit "　　変更する　　" , class:'btn btn-success' %></p>
    <% end %>

  </div>
</div>
