<div class="container">
  <div class="row">
    <div class="mx-auto px-5">

      <h1>
        <i><%= current_customer.last_name %></i>さんの　マイページ
      </h1>

      <li class="nav-item">
        <%= link_to "お気に入りした商品", areas_path, class: 'text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "アカウント情報", customer_path(@customer), class: 'text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "よくある質問", home_question_path, class: 'text-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to "お店を登録する", new_shop_path, class: 'text-dark' %>
      </li>

      <% if current_customer.shop.present? %>
      <li class="nav-item">
        <%= link_to "自分のお店", shop_path(current_customer.shop), class: 'text-dark' %>
      </li>
      <% end %>

      <li class="nav-item">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'text-dark' %>
      </li>

    </div>
  </div>
</div>
