<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-col-lg-6 mx-auto my-4">
      <h4 class="text-center"><%= @order.shop.name %></h4>

      <div class="order-show-title background">
        <h4>注文時間: <%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></h4>
        <h4>受取時の名前: <%= @order.name %></h4>
        <h4>注文番号: <%= @order.number %></h4>
        <h4>注文状況: <%= @order.status %></h4>
        <h4>請求金額: <%= @order.billing_amount %>円</h4>
      </div>

      <% @order.order_items.each do |order_item| %>
        <div class="order-show-box background">
          <p class="order-show-box-text">
            商品名: <%= order_item.name %> <br>
            トッピング: テキストテキストテキストテキスト<br>
            <%= order_item.price %>円

          </p>
          <p class="order-show-picture"><%= attachment_image_tag order_item.item, :image, :fill, 150, 150, fallback: "no_image.jpg", size:'150x150', class: 'rounded-circle' %></p>
        </div>
      <% end %>

      <!--comments部分-->
      <div class="comments">
        コメント<i class="far fa-comment">:<%= @order.order_comments.count %>件</i>
        <% @order.order_comments.each do |order_comment| %>
          <div class="comment-box">
            <%= order_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
            <!--もし自分の投稿だったら「あなたのコメント」相手の投稿だったら「相手のコメント」にする-->
            <% if order_comment.customer_id == current_customer.id %>
              あなたのコメント
            <% else %>
              相手のコメント
            <% end %>

            <div class="comment-text background">
              <%= order_comment.comment %>
              <% if order_comment.customer == current_customer %>
                <div class="comment-delete">
                  <%= link_to "コメントを削除", order_order_comment_path(order_comment.order, order_comment), method: :delete %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="new-comment">
        <%= form_with(model:[@order, @order_comment], local: true) do |f| %>
          <!--注文が完了したら、コメントをできなくする-->
          <% if @order.status == "受取り済み" %>
          <p class="background">お知らせ:<br>商品の受け渡しが完了しましたので、コメントを送信することはできなくなりました。</p>
          <% else %>
            <%= f.text_area :comment, rows:'5',placeholder: "受取などで、困ったらショップにメッセージを送りましょう。" %>
            <%= f.submit "送信する", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>
</div>