<div class="container order">
  <div class="row">
    <div class="col-md-8 offset-col-md-4 mx-auto">
      <h4 class="my-4 text-center"><span>　<%= @order.shop.name %>　</span></h4>

      <div class="order-show-title background">
        <h4>注文時間: <%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></h4>
        <h4>受取時の名前: <%= @order.name %></h4>
        <h4>注文番号: <%= @order.number %></h4>
        <h4>注文状況: <%= @order.status %></h4>
        <h4>請求金額: <%= @order.billing_amount %>円</h4>
      </div>

      <% @order.order_items.each do |order_item| %>
        <div class="order-show-box background">
          <p class="order-show-box-text">
            商品名: <%= order_item.item.name %> <br>
            トッピング: テキストテキストテキストテキスト
          </p>
          <p class="order-show-picture"><%= attachment_image_tag order_item.item, :image, :fill, 150, 150, fallback: "no_image.jpg", size:'150x150', class: 'rounded-circle' %></p>
        </div>
      <% end %>



    </div>
  </div>
</div>