<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">


      <h2 class="text-center area-title">地域を選択してください</h2>

        <div class="area-index">

            <div class="area-box">
              <p class="area-name"><%= link_to "新小岩エリア", areas_shinkoiwa_path %></p>
            </div>
          　<div class="area-box">
              <p class="area-name"><%= link_to "立石エリア", areas_shinkoiwa_path %></p>
            </div>
          　<div class="area-box">
              <p class="area-name"><%= link_to "青戸エリア", areas_shinkoiwa_path %></p>
            </div>
          　<div class="area-box">
              <p class="area-name"><%= link_to "お花茶屋エリア", areas_shinkoiwa_path %></p>
            </div>
          　<div class="area-box">
              <p class="area-name"><%= link_to "金町・水元エリア", areas_shinkoiwa_path %></p>
            </div>
          　<div class="area-box">
              <p class="area-name"><%= link_to "亀有エリア", areas_shinkoiwa_path %></p>
            </div>
            　<div class="area-box">
              <p class="area-name"><%= link_to "柴又エリア", areas_shinkoiwa_path %></p>
            </div>
          　<div class="area-box">
              <p class="area-name"><%= link_to "高砂・鎌倉エリア", areas_shinkoiwa_path %></p>
            </div>


        </div>
    </div>
  </div>
</div>

