<div class="container">
  <div class="row">
    <div class="mx-auto px-5">

      <h1>地域　新規登録</h1>
      <%= render 'layouts/errors', obj: @area %>
      <%= render 'form', area: @area %>


      <h1>一覧</h1>
      <table class="teble">
        <thead  class="table-active">
          <tr>
            <th class="py-2 text-center">地域</th>
            <th class="py-2"></th>
          </tr>
        </thead>
        <tbody>
            <% @areas.each do |area| %>
              <tr>
                <td><%= area.name %></td>
                <td><%= link_to "編集", edit_area_path(area) %></td>
                <td><%= link_to "削除", area_path(area), method: :delete %></td>
              </tr>
            <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
