<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-col-lg-4 mx-auto text-center">
      <h4 class="my-4 text-center"><span>  お店　通知画面　</span></h4>


      <!--/自分の投稿に対するいいね、コメントは通知に表示しない-->
      <% notifications = @notifications.where.not(visitor_id: current_customer.id) %>

      <% if @notifications.exists? %>
        <% @notifications.each do |notification| %>
          <div class="notification-box">
            <p>
              <span class="h5"><%= notification.order.name %> さんが商品を注文しました。</span>
              <%= link_to order_path(notification.order) do %>
                <i class="fas fa-external-link-square-alt"></i>
              <% end %>
              <%= time_ago_in_words(notification.created_at).upcase %>前
            </p>

            <!--order,create時にrequestがnillだった場合-->
            <% if notification.order.request.blank? %>
              <p>リクエストなし</p>
            <% else %>
              <p class="text-left">「<%= notification.order.request %>」</p>
            <% end %>
          </div>
        <% end %>
        <%= paginate notifications %>
      <% else %>
       通知はありません
      <% end %>

      <%= link_to "通知を全削除", destroy_all_notifications_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %>

    </div>
  </div>
</div>