<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">ログイン 画面</h2>
  <%= flash[:error] %>
  <div class="login-container">
    <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <p type="email" placeholder="Email"><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "@exaample.com" %></p>
    <p type="password" placeholder="Password"><%= f.password_field :password, autocomplete: "current-password" %></p>
    <p type="submit" value="Log in"><%= f.submit "ログイン" %></p>
    <% end %>
    <br>
    <h5 class="text-center"><span class="text-dark">会員登録がお済みでない方 </span></h5>
    <p class="text-center text-dark"><%= link_to 'こちら', new_customer_registration_path %> から新規登録を行ってください。</p>
  </div>
</div>
