<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h4 class="my-4 text-center"><span>  商品　新規登録　</span></h4>

      <%= render 'layouts/errors', obj: @item %>
      <%= render 'form', item: @item %>
　　</div>
　</div>

　  <div class="row">

      <!--メインメニュー-->
      <div class="item-menu">
        <h3 class="item-menu-title">メインメニュー</h3>
        <% @items = Item.where(genre: '1') %>
        <%= render 'index', items: @items %>
      </div>

      <!--サイドメニュー-->
      <div class="item-menu">
        <h3 class="item-menu-title">サイドメニュー</h3>
        <% @items = Item.where(genre: '2') %>
        <%= render 'index', items: @items %>
      </div>

      <!--ドリンク-->
      <div class="item-menu">
        <h3 class="item-menu-title">ドリンクメニュー</h3>
        <% @items = Item.where(genre: '3') %>
        <%= render 'index', items: @items %>
      </div>


    </div>
  </div>
</div>