<div class="login">
  <div class="login-triangle"></div>

  <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
  <h2 class="login-header">お問合せ</h2>
  <div class="login-container">

      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    名前<span class="text-danger">（必須）</span>
    <p type="text" placeholder="text"><%= f.text_field :name %></p>
    メールアドレス<span class="text-danger">（必須)
    <p type="text" placeholder="text"><%= f.text_field :email %></p>
    お問合せ内容<span class="text-danger">（必須)
    <p type="text" placeholder="text"><%= f.text_field :message %></p>
    <p type="submit" value="Log in"> <%= f.submit '確認' %></p>
    <% end %>

  </div>
</div>
