<header class="bg-info">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


          <!--１、カスタマーログイン状態か否か-->
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to areas_path, class: 'nav-link text-white', method: :get do %>
                <i class="fas fa-store fa-2x">探す</i>
              <% end %>
            </li>


            <li class="nav-item">
              <%= link_to cart_items_path, class: 'nav-link text-white', method: :get do %>
                <i class="fas fa-shopping-cart fa-2x">カート</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to orders_path, class: 'nav-link text-white', method: :get do %>
                <i class="fas fa-list-ul fa-2x">注文</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to customers_path, class: 'nav-link text-white', method: :get do %>
                <i class="fas fa-user-cog fa-2x"></i>
              <% end %>
            </li>

            <!--カレントユーザーがお店を作成したら表示される-->
            <% if current_customer.shop.present? %>
              <li class="nav-item">
                <%= link_to shop_path(current_customer.shop), class: 'nav-link text-white', method: :get do %>
                  <i class="fas fa-home">マイショップ</i>
                <% end %>
              <li class="nav-item">
                <%= link_to order_shop_index_path, class: 'nav-link text-white', method: :get do %>
                  <i class="fas fa-truck">マイショップの注文</i>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to notifications_path, class: 'nav-link text-white', method: :get do %>
                <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <i class="fas fa-bell fa-2x"></i>
                    <i class="fas fa-circle n-circle"></i>
                  </span>
                  <% else %>
                    <i class="fas fa-bell fa-2x"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>

            <!--最後に消す部分-->
            <li class="nav-item">
              <%= link_to "", genres_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "支払い", payments_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "", new_area_path, class: 'nav-link text-white' %>
            </li>

　　　　　<!--2，カスタマーログインしてない状態-->
          <% else %>
            <li class="nav-item">
              <%= link_to "TOP", root_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "お店を探す", root_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "使いかた", home_how_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "アカウント登録", new_customer_registration_path, data: {"turbolinks" => false}, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, data: {"turbolinks" => false}, class: 'nav-link text-white' %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>