<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


          <!--１、カスタマーログイン状態か否か-->
          <% if customer_signed_in? %>

            <li class="d-flex align-items-center">
              <i class="">ようこそ、<%= current_customer.last_name %>さん！</i>
            </li>

            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-dark', method: :get do %>
                TOP<i class="fas fa-utensils"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to orders_path, class: 'nav-link text-dark', method: :get do %>
                注文履歴<i class="fas fa-list-ul"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to areas_path, class: 'nav-link text-dark', method: :get do %>
                お気に入り<i class="fas fa-heart"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to customer_path(current_customer), data: {"turbolinks" => false}, class: 'nav-link text-dark', method: :get do %>
                アカウント<i class="fas fa-info"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to home_question_path, class: 'nav-link text-dark', method: :get do %>
                よくある質問<i class="fas fa-question-circle"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to destroy_customer_session_path, class: 'nav-link text-dark', method: :delete do %>
                ログアウト<i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to inquiry_path, class: 'nav-link text-dark', method: :get do %>
                お問い合わせ<i class="fas fa-envelope-square"></i>
              <% end %>
            </li>

          <!--アドミン側-->
          <% elsif admin_signed_in? %>
          <li class="nav-item">
              <%= link_to "TOP", admin_root_path, class: 'nav-link text-dark' %>
            </li>

            <li class="nav-item">
              <%= link_to "ユーザー一覧", admin_customers_path, class: 'nav-link text-dark' %>
            </li>

            <li class="nav-item">
              <%= link_to "注文履歴一覧", admin_orders_path, class: 'nav-link text-dark' %>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, class: 'nav-link text-dark', method: :delete %>
            </li>

            <li class="nav-item">
              <%= link_to "ジャンル", genres_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "支払い", payments_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "エリア登録", new_area_path, class: 'nav-link text-dark' %>
            </li>

          <!--2，カスタマーログインしてない状態-->
          <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-dark', method: :get do %>
                TOP<i class="fas fa-utensils"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_customer_registration_path, data: {"turbolinks" => false}, class: 'nav-link text-dark', method: :get do %>
                会員登録<i class="fas fa-user-plus"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_customer_session_path, data: {"turbolinks" => false}, class: 'nav-link text-dark', method: :get do %>
                ログイン<i class="fas fa-running"></i>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to "管理者ログイン", new_admin_session_path, data: {"turbolinks" => false}, class: 'nav-link text-dark' %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>
