<!DOCTYPE html>
<html>
  <head>
    <title>KATSUIKATakeout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
  </head>

  <body class="body">
    <%= render 'layouts/header' %>
      <!--新規投稿や、エラー発生時のメッセージ text-centerで中央に表示されるように設定-->
    <div class="container">
      <% if flash[:notice] %>
         <h3 class="flash-green text-center background"><%= flash[:notice] %></h3>
      <% end %>
      <% if flash[:alert] %>
         <h3 class="flash-red text-center background"><%= flash[:alert] %></h3>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>

    <%= yield %>

  </body>
</html>
